.border {
outline: 1px solid rgb(184, 173, 173);
}

.footer {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   background: linear-gradient(#0090cf,#0073a6,#0090cf);
   color: white;
   text-align: center;
}

.credits {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color: rgb(53, 53, 53);
  background: cyan;
  border-radius: 50px;
  width: 170px;
  height: 30px;
  position: fixed;
  bottom: 30px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 5px 10px 18px #57565646;
  font-weight: bold;
}

.fa-heart {
  color: rgb(255, 87, 58);
}